.RefMatch{
  color: green !important;
  font-weight: bold;
}
.SearchArea Input{
    width: 400px;
    color: gray;
    margin-left: 15px;
    margin-top: 0px;
    padding-top: 0px;
  }
  
  .hidden {
    visibility: hidden;
  }
.SearchArea{
  border: 1px solid white;
  background-color: #282c34;
  position: absolute;
  z-index: 2;
  margin: 0px auto;
  width: 80%
}  