.Shortcuts{
    column-count: 3;
    column-gap: 10px;
    z-index: 5;
    position: relative;
    margin: 0px auto;
    text-align: left;
    background-color: #282c34;
    border: 2px dashed;
    padding: 10px;
    top: 50px
}
.Keys{
    border: 1px solid;
}